body {
    text-align: center;
    background-image: url("../images/book-recipes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #333;
    line-height: 1.2;
}

p {
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 14pt;
    line-height: 1.2;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #333;
    line-height: 1.2;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    font-weight: 600;
    color: #333;
    line-height: 1.2;
}

.recipes{
    display: flex;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    border-radius: 30px;
    margin: 0 200px 0 200px;
    background-color: #548CA8;
}

.ingredients, .directions {
    background-color: #548CA8;
    padding: 1em;
}

li {
    list-style-type: none;
}

li > a {
    text-decoration: none;
    color: white;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 16pt;
    line-height: 1.2;
}

a > button {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

a:hover {
    color:black;
}